.about {
  background-color: rgb(243, 243, 243);
  text-align: center;
}


.about ul {
  list-style: none;
}
/*Agrege la propiedad line-height ya q el espacio entre líneas (interlineado) 
es de, al menos, un espacio y medio dentro de los párrafos y el espacio entre
párrafos es, al menos, 1.5 veces mayor que el espacio entre líneas. 
CRITERIO 1.4.8  */

.blockText {
  width: 40%;
  margin: 0 auto;
  font-size: 0.6rem;
  line-height:150%
  

}

.buttonAbout {
  width: 230px;
  height: 60px;
  padding: 0px 16px;
  border-radius: 4px;
  background-color: rgb(66, 66, 255);
  border: none;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  color: white;
  margin: 32px auto 32px auto;
}

.buttonAbout:hover {
  opacity: 0.9;
  cursor: pointer;
}

.imageCite {
  width: 500px;
  margin: 0 auto;
}
